<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="GiaCom Media Center LiveTV, Movies, Series, Tutorials">
    <meta name="author" content="Faysal Banna ">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if IE]>
    <script src="/assets/js/html5shiv.min.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!--STYLES-->
    <!-- <link rel="stylesheet" href="/assets/styles/importer.css"> -->
    <link rel="stylesheet" href="/assets/styles/style.css">
    <!--STYLES END-->
    <title><%- locals.title %></title>
    <script src="/assets/js/es5-shim.min.js"></script>
    <script src="/assets/js/es5-sham.min.js"></script>
    <script src="/assets/js/json3.min.js"></script>

    <script src="/assets/js/holder.js"></script>
    <script src="/assets/js/holder.min.js"></script>
    <script src="/assets/js/ie-emulation-modes-warning.js"></script>
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/assets/js/jquery-1.12.4.min.js"></script>
    <!--SCRIPTS END-->
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
   <% if (typeof(locals.newSeries) !== 'undefined') { %>
    <style>
        ul, #myUL {
            list-style-type: none;
          }
          
          #myUL {
            margin: 0;
            padding: 0;
          }

          .aMovie {
            cursor:pointer;
          }
          .aMovie:hover {
            -ms-transform:scale3d(1.1,1.1,1.1);
            -webkit-transform: scale3d(1.1,1.1,1.1);
            -moz-transform: scale3d(1.1,1.1,1.1);
            transform: scale3d(1.1,1.1,1.1);
            font-weight: bolder;
          }
          .aselected {
            background-color: antiquewhite;
            font-weight: bolder;
            font-style: italic;
          }
          .aselected::before {
            content:"\2713";
            color:red;
            display:inline-block;
            margin-right: 5px;
            font-size: larger;
            
          }
          .acaret {
            cursor: pointer;
            -webkit-user-select: none; /* Safari 3.1+ */
            -moz-user-select: none; /* Firefox 2+ */
            -ms-user-select: none; /* IE 10+ */
            user-select: none;
          }
          
          .acaret::before {
            content: "\25B6";
            color: black;
            display: inline-block;
            margin-right: 6px;
          }
          
          .acaret-down::before {
            -ms-transform: rotate(90deg); /* IE 9 */
            -webkit-transform: rotate(90deg); /* Safari */
            -moz-transform: rotate(90deg);

            transform: rotate(90deg);  
          }
          
          .nested {
            display: none; 
            background-color: rgba(64, 64, 64, 0.1);
          }
          
          .active {
            display: block;
          }
          .colorMe {
            background-color:beige;
          }
          .aEdit::after{
            content:"\2605";
            color:green;
          }
          .aDelete::after {
            content:"\00D8";
            color:red;
          }
          .aAdd::after {
            content:"\27F4";
            color: green;
          }
          .aEdit::after, .aDelete::after, .aAdd::after {
            display:inline-block;
            margin:0px 0px 0px 4px;
            font-weight:bolder;
            font-size:x-large;
            text-shadow:  white 0px 4px 2px, white 0px -4px 2px,white -4px 0px 2px,white 4px 0px 2px,black 0px 2px 2px, black 0px -2px 2px,black -2px -0px 2px,black 2px 0px 2px;
          }
          /*.glyphicon {
            text-shadow: black 0px 1px 1px, black 0px -1px 1px,black -1px -0px 1px,black 1px 0px 1px, white 0px 2px 2px, white 0px -2px 2px,white -2px 0px 2px,white 2px 0px 2px;
          }*/
          .btn:hover {
            box-shadow: inset white 0px 1px 1px, inset white 0px -1px 1px,inset white -1px -0px 1px,inset white 1px 0px 1px, inset black 0px 2px 2px, inset black 0px -2px 2px,inset black -2px 0px 2px,inset black 2px 0px 2px;
        }
    </style>
   <% } %>
    <% if (typeof(locals.movie) !== 'undefined' || typeof(locals.channel) !== 'undefined' || typeof(locals.series) !== 'undefined') { %>
        <%# If we have a twirk then we apply mediaelement  %>
        <% if (locals.twirk == true || typeof(locals.channel)!== 'undefined') { %>
            <script src="/assets/js/mediaelement-and-player.js"></script>
            <!-- <link rel="stylesheet" href="/assets/stylesheets/normalize.css"> -->
            <link href="/assets/stylesheets/mediaelementplayer.css" rel="stylesheet">
         
        <% } else { %>
            <link type="text/css" href="/assets/styles/blue.monday/css/jplayer.blue.monday.css" rel="stylesheet" />
            <script src="/assets/js/jquery.jplayer.min.js" ></script>
        <% } %>
    <% } %>
    <style>
        .modal {
            text-align: center;
            padding: 0!important;
          }
        .modal:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -4px;
          }
          
          .modal-dialog {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
          }
    </style>
    <script>
      Array.prototype.clear = function(){
        while(this.lenth > 0 ){
          this.pop();
        }
      }
    </script>
    
</head>