<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="GiaCom Media Center LiveTV, Movies, Series, Tutorials">
    <meta name="author" content="Faysal Banna ">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if IE]>
    <script src="/assets/js/html5shiv.min.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!--STYLES-->
    <!-- <link rel="stylesheet" href="/assets/styles/importer.css"> -->
    <link rel="stylesheet" href="/assets/styles/style.css">
    <!--STYLES END-->
    <title><%- locals.title %></title>
    <script src="/assets/js/es5-shim.min.js"></script>
    <script src="/assets/js/es5-sham.min.js"></script>
    <script src="/assets/js/json3.min.js"></script>

    <script src="/assets/js/holder.js"></script>
    <script src="/assets/js/holder.min.js"></script>
    <script src="/assets/js/ie-emulation-modes-warning.js"></script>
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/assets/js/jquery-1.12.4.min.js"></script>
    <!--SCRIPTS END-->
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <% if (typeof(locals.movie) !== 'undefined' || typeof(locals.channel) !== 'undefined') { %>
        <%# If we have a twirk then we apply mediaelement  %>
        <% if (locals.twirk == true) { %>
            <script src="/assets/js/mediaelement-and-player.js"></script>
            <!-- <link rel="stylesheet" href="/assets/stylesheets/normalize.css"> -->
            <link href="/assets/stylesheets/mediaelementplayer.css" rel="stylesheet">
         
        <% } else { %>
            <link type="text/css" href="/assets/styles/blue.monday/css/jplayer.blue.monday.css" rel="stylesheet" />
            <script src="/assets/js/jquery.jplayer.min.js" ></script>
        <% } %>
    <% } %>
    
</head>