<div class="col-xs-6 col-sm-6 col-md-2 center-block">
    
    
        <div class="thumbnail">
            <img data-src="#" alt="<%= item.title %>"  src="<% if  (item.poster && item.poster.length >0) {%>
                <%= item.poster %>
                <% } else { %> 
                    /assets/images/no-picture-available-icon-29.jpg
                <% } %>
                ">
            <div class="caption">
                <h3><%= item.title %></h3>
                <p>
                    ...
                </p>
                <p>
                    <a href="#" class="btn btn-primary">Action</a>
                    <a href="#" class="btn btn-default">Action</a>
                </p>
            </div>
        </div>
    
    
</div>
