.text-bolder{
    font-weight: bolder;
  } 
  .text-italic {
    font-style: italic;
  }
  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  a.disabled {
    pointer-events: none;
    cursor: default;
    
  }
  .text-golden {
    color:goldenrod !important;
  }
  .text-gold {
    color: gold !important;
  }
  .text-lightyellow {
    color:lightyellow !important;
  }
  .bg-lightyellow {
    background-color: lightyellow !important;
  }
  .thumbnail:hover{
    box-shadow: darkblue 0px 0px 64px 8px inset , black 0px 0px 12px 8px !important;
  }
  .text-header {
    color:blue;
    text-shadow: darkblue 0px 0px 64px, black 0px 0px 12px !important;
  }
  .modal {
    text-align: center;
    padding: 0!important;
  }
.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }
  
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
  .align-right {
    float:right !important;
  }
  .align-left {
    float:left !important;
  }